<div>
    <div class="row">
        <div class="col-lg-3 Libpanel ">
            <div class="LibOp border">
                <ul>
                    <li class="Liboptions" onclick="AddNovel()"><b>Add Novel</b></li>
                    <li class="Liboptions" onclick="EditNovel()"><b>Edit Novel</b></li>
                    <li class="Liboptions" onclick="ViewNovel()"><b>View Novel</b></li>
                </ul>


            </div>
            <br>
            <div class="LibOp discription border">
                <b>Discription:</b><br><br>
                <div id="AddNovel">
                    <b> Add Novel</b> option lets you Add a Test Suite for your automation
                </div>
                <div id="EditNovel">
                    <b> Edit Novel</b> option lets you Edit a Test Suite for your automation
                </div>
                <div id="ViewNovel">
                    <b> View Novel</b> option lets you View a Test Suite for your automation
                </div>

            </div>
        </div>
        <div class="col-lg-8 Libpanel border" id="LibForm">

        </div>
    </div>
</div>